<div class="p-grid">
    <nav class="p-col-12 navbar p-col-nogutter">
        <div class="p-col logo">
            <span>LOGO</span>
        </div>
        <ul class="menu p-col-8">
            <li class="menu-item">HOME</li>
            <li class="menu-item"><a [routerLink]="[ '/bibliotecas']">Bibliotecas</a></li>
            <li class="menu-item"><a [routerLink]="[ '/categorias']">Categorias</a></li>
            <li class="menu-item"><a [routerLink]="[ '/libros']">Libros</a></li>
            <li class="menu-item"><a [routerLink]="[ '/usuarios']">Usuarios</a></li>
            <li class="menu-item"><a [routerLink]="[ '/alquileres']">Alquileres</a></li>
        </ul>

    </nav>
</div>