<div class="container">
    <p-table [value]="libros" [columns]="cols" sortMode="multiple" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            Listado de Libros
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <!--Icone per fer el sortin respecte el camp que correspont al field del component-->
                </th>
                <th colspan="2">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-libro let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">{{libro[col.field]}}</td>
                <td>Eliminar</td>
                <td>Agregar</td>
            </tr>
        </ng-template>
    </p-table>
</div>